__pycache__/
*.pyc
.ipynb_checkpoints/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep
outputs/figures/*
!outputs/figures/.gitkeep
outputs/metrics/*
!outputs/metrics/.gitkeep
.venv/
.env
*.db
PLAN.md
